<script>
<!--
  function checkFormPassword()
  {
    var strAlert = "";
    strAlert = strAlert + VKCheckRequireField(document.frmFormP.old_password, "{% trans %}Please enter your current password.{% endtrans %}\n");
    strAlert = strAlert + VKCheckRequireField(document.frmFormP.new_password, "{% trans %}Please enter your new password.{% endtrans %}\n");
    strAlert = strAlert + VKCheckRequireField(document.frmFormP.re_new_password, "{% trans %}Please enter your re new password.{% endtrans %}\n");
    strAlert = strAlert + VKCheckCompareField(document.frmFormP.new_password, document.frmFormP.re_new_password, "{% trans %}Your new password does not match. Please re-enter{% endtrans %}!\n");
    if(strAlert != "")
    {
      alert(strAlert);
      return false;
    }
    else
    {
      return true;
    }
  }
-->
</script>

<form class="form-horizontal" name="frmFormP" id="frmFormP" action="{{ mlpath('_member_pass_edit')}}" method="post">
  <fieldset>
    <legend>{% trans %}Change password{% endtrans %}</legend>
    <div class="control-group">
      <label class="control-label" for="old_password">{% trans %}Old password{% endtrans %}</label>
      <div class="controls">
        <input type="password" name="old_password" value="" class="input-xlarge" />
      </div>
    </div>
    <hr />
    <div class="control-group">
      <label class="control-label" for="new_password">{% trans %}New password{% endtrans %}</label>
      <div class="controls">
        <input type="password" name="new_password" value="" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="re_new_password">{% trans %}Re new password{% endtrans %}</label>
      <div class="controls">
        <input type="password" name="re_new_password" value="" class="input-xlarge" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit" onclick="return checkFormPassword();">{% trans %}Save{% endtrans %}</button>
      </div>
    </div>
  </fieldset>
</form>
