{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle::navigator.html.twig' with {'active':'contact'} %}
{% endblock %}

{% block maincontents %}
<h1>Contact</h1>
{% endblock %}
