body {
overflow-y: scroll;
padding-top: 60px;
}
.container.top {
float: left;
margin-left: 140px;
}
.span2.language {
margin: 5px 10px 0 0;
padding-left: 30px;
float: right;
}

#fmRegister .input-append {
display: block !important;
}
#member_birthDate_day, #member_birthDate_month, #member_birthDate_year, #member_birthYear {
width: 80px;
margin-right: 15px;
}
.alert p {
margin-bottom: 0;
}

.tab-content {
border-bottom: 1px solid #DDDDDD;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }

.profile {
margin-bottom: 20px;
min-height: 170px;
}
.profile .gravatar {
margin-right: 15px;
float: left;
}
.profile .gravatar div {
margin-top: 10px;
text-align: center;
width: 128px;
}
.profile .data {
float: left;
width: 300px
}
.profile .data table {
width: 100%;
}

.full-name {
border-bottom: 1px solid #dddddd;
}

.greeting {
display: inline-block;
color:white;
margin-top: 10px;
}
.navbar a.btn.fix {
margin-top: 0;
}
select.language option {
padding-left: 33px;
}
select.language option.vi {
background:url(../images/icon/flags.png) no-repeat 3px -15px;
}
select.language option.en {
background:url(../images/icon/flags.png) no-repeat -22px 3px;
}
.flag {
display: inline-block;
width: 25px;
height: 15px;
position: absolute;
right: 120px;
top: 13px;
}
.flag.vi {
background:url(../images/icon/flags.png) no-repeat 0 -15px;
}
.flag.en {
background:url(../images/icon/flags.png) no-repeat -25px 0;
}

.member-profile {
float: right;
height: 180px;
width: 450px;
overflow-y: auto;
background-color: #F8F8F8;
border-radius: 3px 3px 3px 3px;
padding: 5px;
}
.full-name span {
float: right;
}
.full-name span i {
margin-top: 5px;
}
