body {
overflow-y: scroll;
padding-top: 60px;
}
.container.top {
float: left;
margin-left: 140px;
}
.span2.language {
margin: 5px 10px 0 0;
padding-left: 30px;
float: right;
}

#fmRegister .input-append {
display: block !important;
}
#member_birthDate_day, #member_birthDate_month, #member_birthDate_year, #member_birthYear {
width: 80px;
margin-right: 15px;
}
.alert p {
margin-bottom: 0;
}
.alert {
box-shadow: 2px 2px 3px #666;
}
.tab-content {
border-bottom: 1px solid #DDDDDD;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }

.profile {
margin-bottom: 20px;
min-height: 170px;
}
.profile .gravatar {
margin-right: 15px;
float: left;
}
.profile .gravatar div {
margin-top: 10px;
text-align: center;
width: 128px;
}
.profile .data {
float: left;
width: 300px
}
.profile .data table {
width: 100%;
}

.full-name {
border-bottom: 1px solid #dddddd;
}

.greeting {
display: inline-block;
color:white;
margin-top: 10px;
}
.navbar a.btn.fix {
margin-top: 0;
}
select.language option {
padding-left: 33px;
}
select.language option.vi {
background:url(../images/icon/flags.png) no-repeat 3px -15px;
}
select.language option.en {
background:url(../images/icon/flags.png) no-repeat -22px 3px;
}
.flag {
display: inline-block;
width: 25px;
height: 15px;
position: absolute;
right: 120px;
top: 13px;
}
.flag.vi {
background:url(../images/icon/flags.png) no-repeat 0 -15px;
}
.flag.en {
background:url(../images/icon/flags.png) no-repeat -25px 0;
}

.member-profile {
float: right;
height: 180px;
width: 450px;
overflow-y: auto;
background-color: #F8F8F8;
border-radius: 3px 3px 3px 3px;
padding: 5px;
}
.full-name span {
float: right;
}
.full-name span i {
margin-top: 5px;
}

.tb-confident {
background-color: #333;
color: white;
}

.main-sidebar, .main-content, .main-wall {
}
.main-sidebar {
width: 20%;
float: left;
}
.main-content {
width: 50%;
margin-left: 22.5%;
}
.main-wall {
width: 25%;
float: right;
}

.main-content div .title {
font-weight: bold;
}
.main-content .articles {
border-bottom: 1px solid #EAEAEA;
padding: 10px 0;
overflow: hidden;
}
.main-content .articles .member {
float: right;
margin-right: 10px;
width: 150px;
}

.main-content .articles .member span {
display: block;
color: #999;
}

.nav-fix {
margin-bottom: 0;
}

.accordion-heading .accordion-toggle {
padding-left: 13px;
}
.accordion-heading a:hover {
background-color: #eee;
}
.accordion-heading .accordion-toggle span {
color: #999;
}
.accordion-inner {
padding-left: 0;
}
.accordion-inner ul {
list-style: none;
}
.accordion-inner ul li a span{
color: #999;
}
h1.title {
font-size: 25px;
border-bottom: 1px solid #ddd;
}

.accordion-inner ul li.active a{
color: #555;
}
.accordion-inner ul li.active a:hover {
cursor: default;
text-decoration: none;
}

.right {
float: right;
}

#loading_animation{
display: none;
position: absolute;
right: 50%;
}

h2 {
font-size: 20px;
font-weight: normal;
line-height: 20px;
}
a.logo {
display: block;
background: url("/images/icon/logo-small.png") 0 0 no-repeat;
height: 80px;
width: 80px;
overflow: hidden;
}
a.logo span {
display: block;
background: url("/images/icon/shine.png") -80px -80px no-repeat;
transition-property: all;
transition-duration: .8s;
-webkit-transition-property: all;
-webkit-transition-duration: .8s;
height: 80px;
width: 80px;
}
a.logo:hover span {
background-position: 100px 100px;
}
.img-small {
float:left;
margin-right: 5px;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 3px #666;
}
.member .img-small {
margin-top: 5px;
}
.post-wall {
overflow: hidden;
resize: none;
width: 185px;
}
.text-right {
text-align: right;
}
.post-title {
font-size: 17px;
}
.post-content {
margin-top: 10px;
}
.post-cmt {
margin: 0;
list-style: none outside none;
overflow: hidden;
margin-bottom: 15px;
}
.separator {
margin: 20px 0;
}
.post-cmt .avatar {
float: left;
margin-top: 3px;
}
.post-cmt .comment-body a {
margin-right: 5px;
}
.comment-body {
float: left;
width: 420px;
}
.post-wall.cmt {
width: 390px;
height: 100px;
}
