_homepage:
    pattern:  /{_locale}
    defaults: { _controller: ITVietSiteBundle:Top:index }
    requirements:
        _scheme: http
        _locale: en
_vi_homepage:
    pattern:  /
    defaults: { _controller: ITVietSiteBundle:Top:index, _locale: vi }
    requirements:
        _scheme: http

_aboutpage:
    pattern:  /{_locale}/about
    defaults: { _controller: ITVietSiteBundle:StaticPages:about }
    requirements:
        _scheme: http
        _locale: en
_vi_aboutpage:
    pattern:  /about
    defaults: { _controller: ITVietSiteBundle:StaticPages:about, _locale: vi }
    requirements:
        _scheme: http

_contactpage:
    pattern:  /{_locale}/contact
    defaults: { _controller: ITVietSiteBundle:StaticPages:contact }
    requirements:
        _scheme: http
        _locale: en
_vi_contactpage:
    pattern:  /lien-he
    defaults: { _controller: ITVietSiteBundle:StaticPages:contact, _locale: vi }
    requirements:
        _scheme: http

_register:
    pattern: /{_locale}/register
    defaults: { _controller: ITVietSiteBundle:Register:new }
    requirements:
        _scheme: http
        _locale: en
_vi_register:
    pattern: /dang-ky
    defaults: { _controller: ITVietSiteBundle:Register:new, _locale: vi }
    requirements:
        _scheme: http

_member_check_email_availability:
    pattern: /{_locale}/register/check/{email}
    defaults: { _controller: ITVietSiteBundle:Register:checkEmailAvailability }
    requirements:
        _scheme: http
        _locale: en
_vi_member_check_email_availability:
    pattern: /dang-ky/check/{email}
    defaults: { _controller: ITVietSiteBundle:Register:checkEmailAvailability, _locale: vi }
    requirements:
        _scheme: http
_member_check_confirm_email:
    pattern:  /{_locale}/register/confirm_email
    defaults: { _controller: ITVietSiteBundle:Register:checkConfirmEmail }
    requirements:
        _scheme: http
        _locale: en
_vi_member_check_confirm_email:
    pattern:  /dang-ky/confirm_email
    defaults: { _controller: ITVietSiteBundle:Register:checkConfirmEmail, _locale: vi }
    requirements:
        _scheme: http

_member_confirm:
    pattern:  /{_locale}/register/confirm/{token}
    defaults: { _controller: ITVietSiteBundle:Register:confirm }
    requirements:
        _scheme: http
        _locale: en
_vi_member_confirm:
    pattern:  /dang-ky/confirm/{token}
    defaults: { _controller: ITVietSiteBundle:Register:confirm, _locale: vi }
    requirements:
        _scheme: http
_member_already_confirmed:
    pattern:  /{_locale}/register/already_confirm
    defaults: { _controller: ITVietSiteBundle:Register:alreadyConfirmed }
    requirements:
        _scheme: http
        _locale: en
_vi_member_already_confirmed:
    pattern:  /dang-ky/already_confirm
    defaults: { _controller: ITVietSiteBundle:Register:alreadyConfirmed, _locale: vi }
    requirements:
        _scheme: http
_member_confirmed:
    pattern:  /{_locale}/register/confirmed
    defaults: { _controller: ITVietSiteBundle:Register:confirmed }
    requirements:
        _scheme: http
        _locale: en
_vi_member_confirmed:
    pattern:  /dang-ky/confirmed
    defaults: { _controller: ITVietSiteBundle:Register:confirmed, _locale: vi }
    requirements:
        _scheme: http

###################################################
_member_to_login:
    pattern:  /{_locale}/to-login
    defaults: { _controller: ITVietSiteBundle:Login:memberToLogin, _locale: vi }
    requirements:
        _scheme: http
        _locale: en|vi
_en_member_login:
    pattern:  /{_locale}/login
    defaults: { _controller: ITVietSiteBundle:Login:member }
    requirements:
        _scheme: http
        _locale: en
_vi_member_login:
    pattern:  /dang-nhap
    defaults: { _controller: ITVietSiteBundle:Login:member, _locale: vi }
    requirements:
        _scheme: http

_member_login_check:
    pattern:  /login_check

_member_home:
    pattern:  /{_locale}/member
    defaults: { _controller: ITVietSiteBundle:Member\Home:index }
    requirements:
        _scheme: http
        _locale: en
_vi_member_home:
    pattern:  /thanh-vien
    defaults: { _controller: ITVietSiteBundle:Member\Home:index, _locale: vi }
    requirements:
        _scheme: http

_member_logout:
    pattern: /member/logout
    requirements:
        _scheme: http

_member_info_edit:
    pattern:  /{_locale}/member/edit
    defaults: { _controller: ITVietSiteBundle:Member\Config:editInfo }
    requirements:
        _scheme: http
        _locale: en
_vi_member_info_edit:
    pattern:  /thanh-vien/sua
    defaults: { _controller: ITVietSiteBundle:Member\Config:editInfo, _locale: vi }
    requirements:
        _scheme: http

_member_email_edit:
    pattern:  /{_locale}/member/edit/email
    defaults: { _controller: ITVietSiteBundle:Member\Config:editEmail }
    requirements:
        _scheme: http
        _locale: en
        _method: post
_vi_member_email_edit:
    pattern:  /thanh-vien/sua/email
    defaults: { _controller: ITVietSiteBundle:Member\Config:editEmail, _locale: vi }
    requirements:
        _scheme: http
        _method: post

_member_change_email:
    pattern:  /{_locale}/member/change/email/{token}
    defaults: { _controller: ITVietSiteBundle:Member\Config:changeEmail }
    requirements:
        _scheme: http
        _locale: en
        _method: post
_vi_member_change_email:
    pattern:  /thanh-vien/thay-doi/email/{token}
    defaults: { _controller: ITVietSiteBundle:Member\Config:changeEmail, _locale: vi }
    requirements:
        _scheme: http
        _method: post

_member_pass_edit:
    pattern:  /{_locale}/member/edit/pass
    defaults: { _controller: ITVietSiteBundle:Member\Config:editPassword }
    requirements:
        _scheme: http
        _locale: en
        _method: post
_vi_member_pass_edit:
    pattern:  /thanh-vien/sua/pass
    defaults: { _controller: ITVietSiteBundle:Member\Config:editPassword, _locale: vi }
    requirements:
        _scheme: http
        _method: post

_member_profile_edit:
    pattern: /{_locale}/member/edit/profile
    defaults: { _controller: ITVietSiteBundle:Member\Config:editProfile }
    requirements:
        _scheme: http
        _locale: en
        _method: post
_vi_member_profile_edit:
    pattern: /thanh-vien/sua/profile
    defaults: { _controller: ITVietSiteBundle:Member\Config:editProfile, _locale: vi }
    requirements:
        _scheme: http
        _method: post

############################################################

_member_public_show:
    pattern:  /{_locale}/member-show/{id}/{name}
    defaults: { _controller: ITVietSiteBundle:Member\Public:show }
    requirements:
        _scheme: http
        _locale: en
_vi_member_public_show:
    pattern:  /xem-thanh-vien/{id}/{name}
    defaults: { _controller: ITVietSiteBundle:Member\Public:show, _locale: vi }
    requirements:
        _scheme: http


_article_new:
    pattern: /{_locale}/member/article/new
    defaults: { _controller: ITVietSiteBundle:Member\Article:new }
    requirements:
        _scheme: http
        _locale: en

_vi_article_new:
    pattern: /thanh-vien/bai-viet/moi
    defaults: { _controller: ITVietSiteBundle:Member\Article:new, _locale: vi }
    requirements:
        _scheme: http

_article_show:
    pattern: /{_locale}/article/{id}/{category}/{urlPart}
    defaults: { _controller: ITVietSiteBundle:Article:show }
    requirements:
        _scheme: http
        _locale: en

_vi_article_show:
    pattern: /bai-viet/{id}/{category}/{urlPart}
    defaults: { _controller: ITVietSiteBundle:Article:show, _locale: vi }
    requirements:
        _scheme: http

_article_edit:
    pattern: /{_locale}/member/article/{id}/sua
    defaults: { _controller: ITVietSiteBundle:Member\Article:edit }
    requirements:
        _scheme: http
        _locale: en
_vi_article_edit:
    pattern: /thanh-vien/bai-viet/{id}/sua
    defaults: { _controller: ITVietSiteBundle:Member\Article:edit, _locale: vi }
    requirements:
        _scheme: http

_article_manage:
    pattern: /{_locale}/member/article/manage
    defaults: { _controller: ITVietSiteBundle:Member\Article:manage }
    requirements:
        _scheme: http
        _locale: en
        _method: post
_vi_article_manage:
    pattern: /thanh-vien/bai-viet/quan-ly
    defaults: { _controller: ITVietSiteBundle:Member\Article:manage, _locale: vi }
    requirements:
        _scheme: http
        _method: post

_category_show:
    pattern: /{_locale}/category/{urlPart}/{page}
    defaults: { _controller: ITVietSiteBundle:Category:show, page: 1  }
    requirements:
        _scheme: http
        _locale: en
_vi_category_show:
    pattern: /danh-muc/{urlPart}/{page}
    defaults: { _controller: ITVietSiteBundle:Category:show, _locale: vi, page: 1 }
    requirements:
        _scheme: http

_articles_newest:
    pattern: /{_locale}/newest/{page}
    defaults: { _controller: ITVietSiteBundle:Top:newest, page: 1 }
    requirements:
        _scheme: http
        _locale: en
_vi_articles_newest:
    pattern: /moi-nhat/{page}
    defaults: { _controller: ITVietSiteBundle:Top:newest, page: 1, _locale: vi }
    requirements:
        _scheme: http

_member_article_list:
    pattern: /{_locale}/member/article/list
    defaults: { _controller: ITVietSiteBundle:Member\Article:list }
    requirements:
        _scheme: http
        _locale: en|vi

_member_comment_create:
    pattern: /{_locale}/member/comment/{article_id}/create
    defaults: { _controller: ITVietSiteBundle:Member\Comment:create }
    requirements:
        _method: post
        _locale: en
_vi_member_comment_create:
    pattern: /thanh-vien/binh-luan/{article_id}/tao
    defaults: { _controller: ITVietSiteBundle:Member\Comment:create, _locale: vi }
    requirements:
        _method: post
