<ul class="nav">
  <li {% if active == 'home' %}class="active"{% endif %}>
    <a href="{{ mlpath('_homepage') }}">{% trans %}Home{% endtrans %}</a>
  </li>
  <li {% if active == 'about' %}class="active"{% endif %}>
    <a href="{{ mlpath('_aboutpage') }}">{% trans %}About{% endtrans %}</a>
  </li>
  <li {% if active == 'contact' %}class="active"{% endif %}>
    <a href="{{ mlpath('_contactpage') }}">{% trans %}Contact{% endtrans %}</a>
  </li>
</ul>
