{% set ckeditor = true %}
{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block navigator %}
  {% include 'ITVietSiteBundle:Layout:navigator.html.twig' with {'active':'profile'} %}
{% endblock %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block maincontents %}

<script language="JavaScript" type="text/javascript">
  function testSearch(extraParams) {
    var href="{{ mlpath('_member_article_list') }}";
    if (extraParams) {
      href += '?';
      for(var name in extraParams)
        href += name + '=' + extraParams[name] + '&';
      href = href.substr(0, href.length - 1);
    }
    $.ajax({
      type: "POST",
      url: href,
      data: $('#frmForm').serialize(),
      success: function(html) {
        $('#loading_animation').hide();
        $('#search_result').html(html);
      }
    });
    $('#loading_animation').show();
  }
  function jumpToPage(params) {
    testSearch(params);
    return false;
  }
  $(function(){
    testSearch();
  });
</script>

  {% include 'ITVietSiteBundle:Member:publicInfo.html.twig' with {'member': member} %}

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">{% trans %}My Articles{% endtrans %}</a></li>
  <li><a href="#profile" data-toggle="tab">{% trans %}Profile manager{% endtrans %}</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Manager Account{% endtrans %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">{% trans %}Change information{% endtrans %}</a></li>
      <li><a href="#dropdown2" data-toggle="tab">{% trans %}Change email{% endtrans %}</a></li>
      <li><a href="#dropdown3" data-toggle="tab">{% trans %}Change password{% endtrans %}</a></li>
    </ul>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="home">
    <div id="search_result"></div>
  </div>
  <div class="tab-pane fade" id="profile">
    {% include 'ITVietSiteBundle:Member\\Config:editProfile.html.twig' %}
  </div>
  <div class="tab-pane fade" id="dropdown1">
    {% render 'ITVietSiteBundle:Member\\Config:editInfo' with {'standalone': true} %}
  </div>
  <div class="tab-pane fade" id="dropdown2">
    {% include 'ITVietSiteBundle:Member\\Config:editEmail.html.twig' %}
  </div>
  <div class="tab-pane fade" id="dropdown3">
    {% include 'ITVietSiteBundle:Member\\Config:editPassword.html.twig' %}
  </div>

</div>{# end tab-content #}
{% endblock %}
