{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle::navigator.html.twig' with {'active':'home'} %}
{% endblock %}

{% block maincontents %}
<h1>Welcome!</h1>
{{ name }}
{% endblock %}
