{% extends 'ITVietSiteBundle::layout.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block navigator %}
  {% include 'ITVietSiteBundle::navigator.html.twig' with {'active':'home'} %}
{% endblock %}

{% block maincontents %}
<h1>Welcome!</h1>
<div class="clearfix">
  <div class="main-sidebar">
    Bai viet moi nhat<br>
    Bai viet theo chu de<br>
    ...<br>
  </div>
  <div class="main-wall">
    Wall for people chat...
  </div>
  <div class="main-content">
    {% for article in articles %}
      {{ article.title }}<br />
    {% endfor %}
  </div>
</div>
{% endblock %}
